<!DOCTYPE html>
<html>
  {{>head}}
<body>
  {{>navbar}}
<div class="row below">

	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		{{{ body }}}
	<div class="col-lg-3"></div>
</div>

<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>